In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
sns.set()

from scipy import stats
stats.chisqprob = lambda chisqp, df: stats.chi2.sf(chisq, df)

In [16]:
data = pd.read_csv('Example-bank-data.csv')

In [17]:
data.head()

   Unnamed: 0  duration    y
0           0       117   no
1           1       274  yes
2           2       167   no
3           3       686  yes
4           4       157   no

In [18]:
new_data = data[['duration','y']]

clean_data = new_data.copy()

clean_data['y'] = clean_data['y'].map({'yes':0,'no':1})

clean_data.describe()

          duration           y
count   518.000000  518.000000
mean    382.177606    0.500000
std     344.295990    0.500483
min       9.000000    0.000000
25%     155.000000    0.000000
50%     266.500000    0.500000
75%     482.750000    1.000000
max    2653.000000    1.000000

In [19]:
clean_data.isnull().sum(axis=0)

duration    0
y           0
dtype: int64

In [20]:
y = clean_data['y']
x1 =  clean_data['duration']

In [21]:
x = sm.add_constant(x1)
reg_log = sm.Logit(y,x)
results_log = reg_log.fit()

Optimization terminated successfully.
         Current function value: 0.546118
         Iterations 7

In [22]:
results_log.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                      y   No. Observations:                  518
Model:                          Logit   Df Residuals:                      516
Method:                           MLE   Df Model:                            1
Date:                Mon, 27 May 2019   Pseudo R-squ.:                  0.2121
Time:                        22:59:46   Log-Likelihood:                -282.89
converged:                       True   LL-Null:                       -359.05
                                        LLR p-value:                 5.387e-35
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          1.7001      0.192      8.863      0.000       1.324       2.076
duration      -0.0051      0.001     -9.159      0.000      -0.006      -0.004
==============================================================================
"""