In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
sns.set()

In [2]:
data = pd.read_csv('Example-bank-data.csv')

In [3]:
data.head()

   Unnamed: 0  duration    y
0           0       117   no
1           1       274  yes
2           2       167   no
3           3       686  yes
4           4       157   no

In [9]:
new_data = data[['duration','y']]

clean_data = new_data.copy()

clean_data['y'] = clean_data['y'].map({'yes':0,'no':1})

clean_data.describe()

          duration           y
count   518.000000  518.000000
mean    382.177606    0.500000
std     344.295990    0.500483
min       9.000000    0.000000
25%     155.000000    0.000000
50%     266.500000    0.500000
75%     482.750000    1.000000
max    2653.000000    1.000000

In [10]:
clean_data.isnull().sum(axis=0)

duration    0
y           0
dtype: int64

In [11]:
y = clean_data['y']
x1 =  clean_data['duration']

In [12]:
x = sm.add_constant(x1)
reg_log = sm.Logit(y,x)
results_log = reg_log.fit()

Optimization terminated successfully.
         Current function value: 0.546118
         Iterations 7